<ion-content padding>

  <!-- logo -->
  <div class="circle"></div>

  <!-- title -->
  <h1 class="title" center>Log in</h1>

  <!-- Form Login -->
  <form [formGroup]="loginForm" #form (ngSubmit)="onSubmit()">

    <!-- INPUT: Email -->
    <ion-item>
      <ion-label>
        <ion-icon name="md-person" color="nightRider"></ion-icon>
      </ion-label>
      <ion-input type="email" placeholder="Email" formControlName="username"></ion-input>
    </ion-item>

    <!-- INPUT: Password -->
    <ion-item>
      <ion-label>
        <ion-icon name="md-lock" color="nightRider"></ion-icon>
      </ion-label>
      <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
    </ion-item>

    <!-- Button Enter -->
    <div class="button-enter">
      <button class="button-border" no-padding ion-button color="chestnut" clear block [disabled]="!loginForm.valid">
        <span class="text-size">Enter</span>
      </button>
    </div>

  </form>

  <!-- Options buttons -->
  <ion-grid class="grid-padding">
    <ion-row>
      <!-- BUTTON: Forgot password -->
      <ion-col text-left>
        <span class="options_login">Forgot password</span>
      </ion-col>
      <!-- BUTTON: Register -->
      <ion-col text-right>
        <span class="options_login" (click)="onRegister()">Register</span>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<!-- Footer -->
<ion-footer padding text-center color="light">
  <span class="footer">Copyright 2017 All rights reserved.</span>
</ion-footer>