page-login {

	.circle {
		margin-top: 10%;
    	margin-left: auto;
    	margin-right: auto;
		border-radius: 50%;
		width: 110px;
		height: 110px; 
		background-color: color($colors, nightRider);
	}

	.title {
		text-align: center;
		color: color($colors, chestnut);
		font-weight: normal;
		font-size: 27px;
		margin-top: 15% !important;
	}

	.footer {
		color: color($colors, suvaGrey);
		font-weight: lighter;
		font-weight:12px;
	}

	.options_login {
		color: #000000;
		text-decoration: underline;
		font-size: 12px;
	}

	.center {
		text-align: center;
	}

	.grid-padding {
		padding-top: 20%;
	}

	.button-border {
		border-top: 2px solid transparent !important;
    	border-bottom: 2px solid transparent !important;
	    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(140, 140, 140, 1), rgba(0, 0, 0, 0));;
	    border-image-slice: 1;
	}

	.button-enter {
		text-align: center;
		padding-top: 20%;
		font-size: 27px;
	}

	.text-size {
		font-size: 25px;
		font-weight: bold;
	}

	.item {
		width: 80% !important;
    	margin-left: auto !important;
    	margin-right: auto !important;
	}

	.item-block .item-inner {
		border-bottom: 2px solid transparent !important;
	    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(140, 140, 140, 1), rgba(0, 0, 0, 0));;
	    border-image-slice: 1;
	}

    input.text-input {
    	text-align: center;
    	margin-left: 0px !important;
    }

}
