<ion-content padding>

  <!-- logo -->
  <div class="circle"></div>

    <!-- Form Login -->
  <form [formGroup]="registerForm" #form (ngSubmit)="onSubmit()">

    <!-- INPUT: Email -->
    <ion-item>
      <ion-input type="text" placeholder="Email" formControlName="email"></ion-input>
    </ion-item>

    <!-- INPUT: First Name -->
    <ion-item>
      <ion-input type="text" placeholder="First name" formControlName="first_name"></ion-input>
    </ion-item>

    <!-- INPUT: Last Name -->
    <ion-item>
      <ion-input type="text" placeholder="Last name" formControlName="last_name"></ion-input>
    </ion-item>

    <!-- INPUT: Password -->
    <ion-item>
      <ion-input type="text" placeholder="Password" formControlName="password"></ion-input>
    </ion-item>

    <!-- INPUT: Confirm Password -->
    <ion-item>
      <ion-input type="text" placeholder="Confirm Password" formControlName="confirm_password"></ion-input>
    </ion-item>

    <!-- Button Enter -->
    <div class="button-register">
      <button class="button-border" no-padding ion-button color="chestnut" clear block [disabled]="!registerForm.valid">
        <span class="text-size">Register</span>
      </button>
    </div>

  </form>

  <!-- Options buttons -->
  <ion-grid class="grid-padding">
    <ion-row>

      <ion-col>
      </ion-col>

      <!-- BUTTON: Register -->
      <ion-col text-right>
        <span class="options" (click)="onLogin()">Log in</span>
      </ion-col>

    </ion-row>
  </ion-grid>

</ion-content>

<!-- Footer -->
<ion-footer padding text-center color="light">
  <span class="footer">Copyright 2017 All rights reserved.</span>
</ion-footer>
