page-register {

	.circle {
		margin-top: 10%;
		margin-bottom: 5%;
    	margin-left: auto;
    	margin-right: auto;
		border-radius: 50%;
		width: 110px;
		height: 110px; 
		background-color: color($colors, nightRider);
	}

	.options {
		color: #000000;
		text-decoration: underline
	}

	.item-block .item-inner {
		border-bottom: 2px solid transparent !important;
	    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(140, 140, 140, 1), rgba(0, 0, 0, 0));;
	    border-image-slice: 1;
	}

	.button-border {
		border-top: 2px solid transparent !important;
    	border-bottom: 2px solid transparent !important;
	    border-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(140, 140, 140, 1), rgba(0, 0, 0, 0));;
	    border-image-slice: 1;
	}

	.button-register {
		text-align: center;
		padding-top: 10%;
	}

	.text-size {
		font-size: 25px;
		font-weight: bold;
	}

	input.text-input {
    	text-align: center;
    }

	.footer {
		color: color($colors, suvaGrey);
		font-weight: lighter;
	}

	ion-select {
	    margin-left: auto;
	    margin-right: auto;
	}

	.grid-padding {
		margin-top: 10%;
	}

}
